<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forensic.unipg.silenceaudiorecording">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <!-- debug-writing file need external storage writing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Adding the permission -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <activity android:name="com.forensic.unipg.silenceaudiorecording.SilenceAudioRecordingActivity">
            </activity>
            <activity-alias
                android:name="com.forensic.unipg.silenceaudiorecording.Launcher"
                android:targetActivity="com.forensic.unipg.silenceaudiorecording.SilenceAudioRecordingActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity-alias>
        <!-- DEBUG
            <service android:enabled="true"
                     android:exported="false"
                     android:name=".SilenceAudioRecordingService" />
        -->
        <!-- RELEASE -->
        <service android:enabled="true"
                 android:exported="true"
                 android:process=":AudioEngine"
                 android:name=".SilenceAudioRecordingService" />

        <receiver android:name=".BootReceiver"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="SilenceAudioRecordingService.SERVICE_START"/>
                <action android:name="SilenceAudioRecordingService.SERVICE_STOP"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>